@model IndexViewModel

<section class="mt-5">
    @await Html.PartialAsync("_TopRecipe", Model.TopRecipe)

</section>
    <!--Cards-->
<section class="p-5">
    @await Html.PartialAsync("_BestRated", Model.BestRated)
</section>
<section>
    @await Html.PartialAsync("_MostRecent", Model.MostRecent)
</section>