/*INDEX*/
.cborder {
    background-repeat: repeat-x;
    background-position: bottom center;
    background-image: url("../img/pat-border.png");
}
.card img {
    align-self:center;
}
.recipe {
    margin: 0 -15px;
    background-repeat: repeat-x;
    background-position: top center,bottom center;
    background-image: url("../img/pattern-gray.png"), url("../img/pattern-gray.png");
}
/*END*/

hr.dotted {
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
}
.brand-image {
    transform:rotate(-10deg);
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

a, a:hover{
    color: crimson; 
}

td .img-thumbnail {
    max-width: 120px;
}

.img-fluid {
    max-height: 250px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}
    
.rating span.star.hand {
    cursor: pointer;
}
    .rating span.star, .rating span.star {
        font-weight: normal;
        font-style: normal;
        display: inline-block;
    }

        .rating span.star:before, .rating span.star:before {
            content: "★";
            padding-right: 5px;
            color: #BEC3C7;
        }


        .rating span.star.active::before, .rating span.star.active::before, .rating span.star.active ~ span.star::before, .rating span.star.active ~ span.star::before {
            color: #ffd800;
            content: "★";
        }

.myCard {
    min-height:350px;
}
.card .text-body {
    font-size: 13px;
}