.brand-image {
    transform:rotate(-10deg);
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}

    .rating span.star, .rating span.star {
        font-weight: normal;
        font-style: normal;
        display: inline-block;
    }

        .rating span.star:before, .rating span.star:before {
            content: "★";
            padding-right: 5px;
            color: #BEC3C7;
        }


        .rating span.star.active::before, .rating span.star.active::before, .rating span.star.active ~ span.star::before, .rating span.star.active ~ span.star::before {
            color: #ffd800;
            content: "★";
        }